@page "/estudiante"

<h1>Personas</h1>
<hr>

<section>
    <h2>Información del Estudiante</h2>
    <fieldset>
            
        <form  class="row justify-cont-center">
          <div class="container px-4">
            <div class="row gx-5">
              <div class="col">
                  <label for="Nombres">Nombres:</label><br>
                  <input type="text" id="IdNombres" name="Nombres" class="form-control">
              </div>  
              <div class="col">
                  <label for="Apellidos">Apellidos:</label><br>
                  <input type="text" id="IdApellidos" name="Apellidos" class="form-control">
              </div>
              <div class="col">
                  <label for="Identificacion">No. Identificacion:</label><br>
                  <input type="text" id="Id" name="Identificacion" class="form-control">
              </div> 
            </div>  
          </div>
        </form><br>

        <form class="row justify-cont-center">
          <div class="container px-4">
            <div class="row gx-5">
              <div class="col">
                <label for="Telefono">Telefono de Contacto:</label><br>
                <input type="text" id="IdTelefono" name="Telefono" class="form-control">
              </div>
              <div class="col">
                <label for="Correo">Correo electronico:</label><br>
                <input type="text" id="IdCorreo" name="Correo" class="form-control">
              </div>
              <div class="col">
                <label for="Direccion">Direccion Residencial:</label><br>
                <input type="text" id="IdDireccion" name="Direccion" class="form-control"> 
              </div>
            </div>
          </div>
        </form><br>
      </fieldset>  
</section>
<div>
  <button type="button" class="btn btn-success">Guardar  </button>
</div><br>

<section>
    <h2>Vínculo Académico</h2>
    <fieldset>
      <!--<legend>Título</legend>-->
      <div>
          <!--<button type="button" class="btn btn-link">Docente  </button>-->
          <button type="button" class="btn btn-link">Estudiante  </button>
          <!--<button type="button" class="btn btn-link">Acudiente  </button>-->
      </div>
      <!--<div class="container px-4">
        <div class="row gx-5">
          <div class="col">
          <div class="p-3 border bg-light">
              <label for="Nombres">Nombres:</label><br>
              <input type="text" id="IdNombres" name="Nombres" class="form-control"><br>
          </div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">
              <label for="Apellidos">Apellidos:</label><br>
              <input type="text" id="IdApellidos" name="Apellidos" class="form-control"><br>
            </div>
          </div>
        </div>
      </div>-->
    </fieldset> 
</section>
>>>>>>> Version Beta 1.0